*.o
*.obj
*.so
*.dll
*.a
build.sh
build.bat
.idea
.deps
.DS_Store
*.tokens
*.interp
*.dylib
age--*.*.*.sql
!age--*--*sql
__pycache__
**/__pycache__
**/.venv
**/apache_age_python.egg-info
.env
.env.local

drivers/python/build
